<div class="col-xl-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-4">Editar Tarefa</h4>
      <form class="col-xl-8">
        <div class="row mb-4">
          <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Descrição</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="horizontal-firstname-input" placeholder="Digite a descrição">
          </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-sm-9">
            <div>
              <button type="submit" class="btn btn-primary w-md">Editar</button>
              <button type="button" class="btn btn-danger w-md" style="margin-left: 1rem;">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- end card body -->
  </div>
  <!-- end card -->
</div>
