<div class="col-xl-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-4">Confirmar exclusão de tarefa</h4>

      <form class="col-xl-8">
        <div class="row mb-4">
          <p><b>Preencher formulário de finanças</b></p>
        </div>

        <div class="row justify-content-end">
          <div>
              <button type="submit" class="btn btn-danger w-md">Excluir</button>
            </div>
          </div>
      </form>
    </div>
    <!-- end card body -->
  </div>
  <!-- end card -->
</div>
