<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6 col-xl-5">
    <div class="card overflow-hidden">
      <div class="bg-primary-subtle">
        <div class="row">
          <div class="col-7">
            <div class="text-primary p-4">
              <h5 class="text-primary">Seja bem vindo !</h5>
              <p>Autentique para entrar no sistema de tarefas.</p>
            </div>
          </div>
          <div class="col-5 align-self-end">
            <img src="../../../assets/images/profile-img.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="auth-logo">
          <a href="../../../index.html" class="auth-logo-light">
            <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="../../../assets/images/logo-light.svg" alt="" class="rounded-circle" height="34">
                                            </span>
            </div>
          </a>

          <a href="../../../index.html" class="auth-logo-dark">
            <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="../../../assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                                            </span>
            </div>
          </a>
        </div>
        <div class="p-2">
          <form [formGroup]="loginForm" class="form-horizontal" action="">

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input formControlName="email" type="text" class="form-control" id="email" placeholder="Digite seu email">
              <div class="error" *ngIf="(loginForm.controls['email'].dirty || loginForm.controls['email'].touched) && loginForm.controls['email'].errors?.['required']">
                Digite seu email.
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Senha</label>
              <div class="input-group auth-pass-inputgroup">
                <input formControlName="senha" type="password" class="form-control" placeholder="Digite sua senha" aria-label="Senha" aria-describedby="password-addon">
                <button class="btn btn-light " type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
              </div>
              <div class="error" *ngIf="(loginForm.controls['senha'].dirty || loginForm.controls['senha'].touched) && loginForm.controls['senha'].errors?.['required']">
                Digite sua senha.
              </div>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="remember-check">
              <label class="form-check-label" for="remember-check">
                Lembrar me
              </label>
            </div>

            <div class="mt-3 d-grid">
              <button class="btn btn-primary waves-effect waves-light" type="submit"
                  [disabled]="loginForm.status === 'INVALID' && !loginForm.pending"
                  (click)="login()">Autenticar</button>
            </div>
          </form>
        </div>

      </div>
    </div>
    <div class="mt-2 text-center">

      <div>
        <p>Não possuí uma conta? <a [routerLink]="['./cadastrar']" class="fw-medium text-primary"> Cadastre-se </a> </p>
      </div>
    </div>

  </div>
</div>
