<div class="col-12">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">Tarefas</h4>

      <div class="mb-2">
        <button [routerLink]="['cadastrar-tarefa']" type="button" class="btn btn-primary w-md">Cadastrar</button>
      </div>

      <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
        <thead>
        <tr>
          <th>Id</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let tarefa of tarefas?.tarefas; index as i">
          <td class="col-1">{{ tarefa.id }}</td>
          <td>{{ tarefa.descricao }}</td>
          <td class="col-3">
            <i class="bx bx-edit" title="Editar"
               style="cursor: pointer; width: 1rem"
               (click)="router.navigate(['editar-tarefa/' + tarefa.id])"></i>
            <i class="bx bx-trash" title="Excluir"
               style="cursor: pointer; width: 1rem"
               (click)="router.navigate(['excluir-tarefa/' + tarefa.id])"></i>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
