<div class="col-12">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">Tarefas</h4>

      <div class="mb-2">
        <button type="button" class="btn btn-primary w-md">Cadastrar</button>
      </div>

      <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
        <thead>
        <tr>
          <th>Selecionar</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td class="col-1"><input type="checkbox" /></td>
          <td>System Architect</td>
          <td class="col-3"><i class="bx bx-edit" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Editar"></i><i class="bx bx-trash" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Excluir"></i></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
